In [206]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [207]:
data = pd.read_csv('movies.csv', index_col=0)
rating = pd.read_csv('ratings.csv')
data_genres = data['genres'].str.get_dummies('|')
rating.drop(['timestamp','userId'], axis = 1, inplace=True)
Rate = rating.groupby('movieId').agg(['mean', 'count'])

In [208]:
data = pd.concat([data,Rate], axis = 1)
#data_genres = pd.concat([data_genres, Rate], axis = 1)
data.rename(columns = {('rating', 'count'):'RateCount', ('rating','mean'):'AvgRating'}, inplace = True)
#data_genres.rename(columns = {('rating', 'count'):'RateCount', ('rating','mean'):'AvgRating'}, inplace = True)
#data_genres.fillna(0, inplace=True)
data.fillna(0, inplace = True)

In [209]:
import re
for idx in data.index:
    try:
        data.loc[data.index == idx, 'Year'] =  re.findall(r"\((\d{4})\)",data.title[idx])
    except:
        pass

data['Year'] = pd.to_numeric(data['Year'], errors= 'raise')
#data.loc[data['Year'] == 1, 'Year'] = int(data.Year.mean())

In [213]:
def Top10(X, Y = 0):
    data1 = data_genres[data_genres[X] == 1]
    data2 = data[(data['Year'] >= Y) & (data.RateCount > 30)].sort_values('AvgRating', ascending = False)
    return (pd.concat([data1, data2], axis = 1, join = "inner")).ix[:,'title':'Year'].head(10)

### Recommendation based on Genre and Year
'Action', 'Adventure', 'Animation', 'Children','Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir',
'Horror', 'IMAX', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'

In [248]:
Top10('Film-Noir', 2000)

,title,genres,AvgRating,RateCount,Year
movieId,,,,,
32587,Sin City (2005),Action|Crime|Film-Noir|Mystery|Thriller,3.950000,80.0,2005.0
4848,Mulholland Drive (2001),Crime|Drama|Film-Noir|Mystery|Thriller,3.705128,39.0,2001.0

In [221]:
def search(movie):
    x = pd.DataFrame([])
    for i in data.title:
        if movie.lower() in i.lower():
            x = x.append(data.loc[data.title == i])   
    return (x)

### Search a movie by name

In [222]:
search('Inception')

,title,genres,AvgRating,RateCount,Year
movieId,,,,,
79132,Inception (2010),Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX,4.04955,111.0,2010.0

In [241]:
#train, test = train_test_split(data_genres, test_size = 0.3)
from sklearn.cluster import KMeans
model = KMeans(n_clusters=7,max_iter=500)
model.fit(data_genres)
predict = model.predict(data_genres)
#model.score(test)

In [243]:
predict.shape

(9125,)

In [235]:
movie_group = data_genres.copy()

In [245]:
data_genres['Group'] = (predict, index = data_genres.index)

SyntaxError: invalid syntax (<ipython-input-245-96b35644a06d>, line 1)